<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/reset.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
</head>

<body class="l-body">

<header class="l-header">
  <h1 class="site-title"><a class="site-title__link" href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
  <p class="site-description">{{ site.description }}</p>
</header>

<main class="l-main">
  {{ content }}
</main>

<footer class="l-footer">
  <p>© 2026 moraine8</p>
</footer>

</body>
</html>