<!DOCTYPE html>
<html lang="ja">
<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-PEKNBFF11J"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-PEKNBFF11J');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/reset.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}?v=2">
</head>

<body class="l-body">

<header class="l-header">
  <p class="github-link"><a class="github-link__link" href="https://github.com/moraine8/epsilon-diary" target="_blank"><img class="github-link__img" src="{{ '/assets/GitHub_Lockup_Black.svg' | relative_url }}" alt="GitHub"></a></p>
  <h1 class="site-title"><a class="site-title__link" href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
  <p class="site-description">{{ site.description }}</p>
</header>

<main class="l-main">
  {{ content }}
</main>

<footer class="l-footer">
  <p>© 2026 moraine8</p>
</footer>

</body>
</html>